h1,h2,h3,h4,h5,p,a,span{
    font-family: 'Roboto', sans-serif;
}
header {
    height: 100px;
    border-bottom: 1px solid #5f5f5f;
	background:black;
}

.imagen-principal {
    height: 500px;
}

.nosotros {
    height: 300px;
}

.servicios {
    height: 300px;   
}    

.logo-corporativo {
    text-align: center;
}

.menu-ul{
	margin: 0 auto;
}
.menu-ul li {
    display: inline-block;
}

.menu-ul a {
    color: #f5f5f5;
    font-size: 1.2em;
    text-decoration: none!important;
	padding: 2em 2em;
}

.menu-ul a:hover {
    color: white;
    background: #5c5d5fa8;
}


















.grey{
	background-color:#ebedf0;
}
.red {
    background: red;
}

.blue {
    background: blue;
}

.green { 
    background: green;
}

.yellow {
    background: yellow;
}

.orange {
    background: orange;
}

.brown {
    background: brown;
}
